@media (min-width: 1024px) {
  .category {
    margin: 3rem;
  }
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
}

.categoryListing {
  margin: auto;
  margin-top: 100px;
  padding: 50px 70px;
  width: 50%;
  background-color: #99c4c8;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category {
  margin-bottom: 10rem;
  margin: 1rem;
}

.categoryListings {
  padding: 0;
}
.filterData{
  margin: auto;
  display: flex;
  width:21%;
  flex-direction: row;
  justify-content: space-between;
  
}
.filterData select {
  border-radius: 20%;
}

.filter-button {
  cursor: pointer;
  background: #FF5C00;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 36%;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.filter-label {
  font-weight: 600;
}
