@media (min-width: 1024px) {
  .explore {
    margin: 3rem;
  }
}

.explore {
  margin: 1.5rem;
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
}

@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}
@media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
}

.exploreHeading,
.exploreCategoryHeading {
  font-weight: 700;
}

.headingBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.exploreCategoryHeading {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 5rem;
  border-bottom: 2px black solid;
  padding-bottom: 25px;
}

.exploreCategories {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.exploreCategories a {
  width: 48%;
}

.exploreCategoryImg {
  min-height: 115px;
  height: 15vw;
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 0 auto;
}

.exploreCategoryImg:hover {
  transform:scale(1.05);
  z-index: 5;
}

.image__overlay {
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  width: 48%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

p.exploreCategoryname-rent {
  margin-top: 15px;
  font-weight: 800;
  text-align: center;
  font-size: 60px;
}

p.exploreCategoryname-buy {
  margin-top: 15px;
  font-weight: 800;
  text-align: center;
  font-size: 60px;
}