.shareIconDiv {
  cursor: pointer;
  position: fixed;
  top: 17%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkCopied {
  position: fixed;
  top: 15%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.listingDetails {
  margin: 1rem;
  margin-bottom: 10rem;
}
@media (min-width: 1024px) {
  .listingDetails {
    margin: 3rem;
  }
}

.listingName {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.listingLocation {
  margin-top: 0;
  font-weight: 600;
}
.listingType {
  padding: 0.25rem 0.5rem;
  background-color: #6737e1;
  color: #ffffff;
  border-radius: 2rem;
  display: inline;
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.discountedPrice {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline;
}
.listingDetailsList {
  padding: 0;
  list-style-type: none;
}
.listingLocationTitle {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
}
.primaryButton {
  cursor: pointer;
  background: #6737e1;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leafletContainer {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .leafletContainer {
    height: 400px;
  }
}