.offerListing {
  margin: auto;
  margin-top: 80px;
  padding: 50px 70px;
  width: 50%;
  background-color: #99c4c8;
  justify-content: space-between;
}

.offerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}