

.categoryListingImg {
  width: 30%;
  height: 100px;
  object-fit: cover;
  transition: 0.5s;
}

.categoryListingImg:hover {
  transform:scale(1.05);
  z-index: 5;
}

@media (min-width: 1024px) {
  .categoryListingImg {
    width: 262px;
    height: 180px;
  }
}

.categoryListingDetails {
  width: 65%;
}
@media (min-width: 1024px) {
  .categoryListingDetails {
    width: 79%;
  }
}

.categoryListingLocation {
  font-weight: 600;
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 0;
}

.categoryListingName {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.categoryListingPrice {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #FF5C00;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.categoryListingInfoDiv {
  display: flex;
  justify-content: space-between;
  max-width: 275px;
}

.categoryListingInfoText {
  font-weight: 500;
  font-size: 0.7rem;
}

.removeIcon {
  cursor: pointer;
  position: relative;
  top: -3%;
  right: -90%;
}