.categoryListing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

/* .categoryListingLink {
  display: contents;
} */

.categoryListingImg {
  width: 30%;
  height: 100px;
  border-radius: 1.5rem;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .categoryListingImg {
    width: 19%;
    height: 217px;
  }
}

.categoryListingDetails {
  width: 65%;
}
@media (min-width: 1024px) {
  .categoryListingDetails {
    width: 79%;
  }
}

.categoryListingLocation {
  font-weight: 600;
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 0;
}

.categoryListingName {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.categoryListingPrice {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #6737e1;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.categoryListingInfoDiv {
  display: flex;
  justify-content: space-between;
  max-width: 275px;
}

.categoryListingInfoText {
  font-weight: 500;
  font-size: 0.7rem;
}