.signInContainer{
  margin: auto;
  margin-top: 100px;
  padding: 50px 70px;
  width: 50%;
  background-color: #99c4c8;
  justify-content: space-between;
}

.signInTitle {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.createAccountIcon {
  width: 50px;
  height: 50px;
}

.nameInput {
  margin-bottom: 2rem;
  background: url('../assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}

.emailInput {
  margin-bottom: 2rem;
  background: url('../assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.passwordInputDiv {
  position: relative;
}

.passwordInput {
  margin-bottom: 2rem;
  background: url('../assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #FF5C00;
  font-weight: 600;
  text-align: right;
}

.signUpBar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.signUpButton,
.signUpText {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .signUpBar {
    justify-content: start;
  }
}

.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
}

.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #FF5C00;
  border-radius: 50%;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .signUpButton {
    margin-left: 1rem;
  }
}

.registerLink {
  margin-top: 3rem;
  color: #FF5C00;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}