@media (min-width: 1024px) {
  .userProfile{
    margin: 3rem;
  }
}

.userProfile {
  margin: auto;
  margin-top: 100px;
  padding: 50px 70px;
  width: 50%;
  background-color: #99c4c8;
  justify-content: space-between;
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logOut {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #FF5C00;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.profileDetailsHeader {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}


.listingsList{
  margin: auto;
  margin-top: 50px;
  padding: 50px 70px;
  width: 50%;
  background-color: #99c4c8;
}

.listingsList .card {
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.listingText {
  margin-top: 3rem;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}

.personalDetailsText {
  font-weight: 600;
}

.changePersonalDetails {
  cursor: pointer;
  font-weight: 600;
  color: #FF5C00;
}

.profileCard {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.profileName,
.profileEmail,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profileNameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail{
  font-weight: 500;
}

.createListing {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  font-weight: 600;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.createListing p {
  margin-top: 1rem;
}

.createListing:hover {
  transform:scale(1.05);
  z-index: 5;
}